<!-- <footer class="section-footer bg-primary footer-dark">
    <div class="container" >
      <section class="footer-main padding-y">
        <div style="background-color: hsl(194, 81%, 51%, 0.5);">
        <div class="row">
          <aside class="col-12 col-sm-12 col-lg-3">
            <article class="me-lg-3">
              <p class="mt-3"> © 2023 DAHAN Enterprise.<br> All rights reserved. </p>
            </article>
          </aside>
          <aside class="col-6 col-sm-4 col-lg-2">
            <h6 class="title">Store</h6>
            <ul class="list-menu mb-4">
              <li> <a href="#">About us</a></li>
              <li> <a href="#">Find store</a></li>
              <li> <a href="#">Categories</a></li>
              <li> <a href="#">Blogs</a></li>
            </ul>
          </aside>
          <aside class="col-6 col-sm-4 col-lg-2">
            <h6 class="title">Information</h6>
            <ul class="list-menu mb-4">
              <li> <a href="#">Help center</a></li>
              <li> <a href="#">Money refund</a></li>
              <li> <a href="#">Shipping info</a></li>
              <li> <a href="#">Refunds</a></li>
            </ul>
          </aside>
          <aside class="col-6 col-sm-4  col-lg-2">
            <h6 class="title">Support</h6>
            <ul class="list-menu mb-4">
              <li> <a href="#"> Help center </a></li>
              <li> <a href="#"> Documents </a></li>
              <li> <a href="#"> Account restore </a></li>
              <li> <a href="#"> My Orders </a></li>
            </ul>
          </aside>
    
        </div> 
        </div>
      </section>  
    
      <section class="footer-bottom d-flex justify-content-lg-between border-top">
        <div>
          <i class="fab fa-lg fa-cc-visa"></i>
          <i class="fab fa-lg fa-cc-amex"></i>
          <i class="fab fa-lg fa-cc-mastercard"></i>
          <i class="fab fa-lg fa-cc-paypal"></i>
        </div>
        <nav class="dropup">
            <button class="dropdown-toggle btn d-flex align-items-center py-0" type="button" data-bs-toggle="dropdown">
              <img src="assets/images/flag-usa.webp" class="me-2" height="20"> 
              <span>English</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Russian</a></li>
              <li><a class="dropdown-item" href="#">Arabic</a></li>
              <li><a class="dropdown-item" href="#">Spanish</a></li>
            </ul>
        </nav>
        
      </section>
    </div>
    </footer>
    
    
    <aside class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_cart">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Your cart (3) </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          
          <figure class="itemside mb-4">
            <div class="aside">
              <img src="assets/images/items/14.webp" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> Leather Wallet for Men</p>
              <span class="text-muted">1 x $200.95 </span> <br>
              <strong class="price"> $400.90 </strong>
            </figcaption>
          </figure>
    
          <figure class="itemside  mb-4">
            <div class="aside">
              <img src="assets/images/items/2.webp" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> Canon EOS 1400 Black </p>
              <span class="text-muted">2 x $169.95 </span> <br>
              <strong class="price"> $339.90 </strong>
            </figcaption>
          </figure>
    
          <figure class="itemside  mb-4">
            <div class="aside">
              <img src="assets/images/items/11.webp" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> Winter Jacket for men and lady </p>
              <span class="text-muted">2 x $169.95 </span> <br>
              <strong class="price"> $339.90 </strong>
            </figcaption>
          </figure>
          <hr>
         
          <p class="mb-3 text-center"> Subtotal:  <strong class="text-danger">$893.00</strong>  </p>
          <div class="mb-3">
            <a href="#" class="btn w-100 btn-success"> Checkout </a>
          </div>
          <p class="mb-3 text-center"> <img src="assets/images/payments.webp" height="22">  </p>
    
        </div> 
    </aside> -->




    <!-- <footer> 
      <main>
        <div class="container-fit" style="margin: 0 auto;">
      <div style="background-color: hsl(194, 81%, 51%, 0.5);">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod mauris vitae felis mollis bibendum.</p>
            <ul>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4>Categories</h4>
            <ul>
              <li><a href="#">Men's Clothing</a></li>
              <li><a href="#">Women's Clothing</a></li>
              <li><a href="#">Kids' Clothing</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Shipping &amp; Delivery</a></li>
              <li><a href="#">Returns &amp; Exchanges</a></li>
              <li><a href="#">Size Guide</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h4>Stay Connected</h4>
            <p>Follow us on social media for updates and special offers!</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <p class="text-center">&copy; 2023 My Clothing Store. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
    </main>
    </footer> -->



    <!--Important link from source https://bootsnipp.com/snippets/rlXdE-->



<!-- Footer -->
  <!-- <section id="footer" >
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
          <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
        </div>
      </div>  
    </div>
  </section>-->
  <!-- ./Footer -->





  

<footer style="background-color: hsla(189, 100%, 50%, 0.651);"> 
      <main>
        <div class="container" style="align-content: center;">
      <div>
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <h3>About Us</h3>
            <ul>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-5">
            <h3>Customer Service</h3>
            <ul>
              <li><a href="#">Shipping &amp; Delivery</a></li>
              <li><a href="#">Returns &amp; Exchanges</a></li>
              <li><a href="#">Size Guide</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-5">
            <h3>Stay Connected</h3>
            <p>Follow us on social media for updates and special offers!</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
              <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
              <li><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i>Pinterest</a></li>
              <li><a href="#"><i class="fa fa-youtube"></i>Youtube</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <p class="text-center">&copy; 2023 DAHAN Enterprise. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
    </main>
    </footer>