<!-- ================ SECTION INTRO ================ -->
<section class="section-intro padding-top-sm">
    <div class="container">
      <div class="row">
        <!--<aside class="col-lg-3"> 
          <nav class="nav flex-column nav-pills">
            <a class="nav-link active" aria-current="page" href="#">T-Shirts</a>
            <a class="nav-link" href="#">Trousers</a>
            <a class="nav-link" href="#">Caps</a>
            <a class="nav-link" href="#">Shoes</a>
          </nav>
        </aside>
        <div class="col-lg-fit">
          <article style="max-height: 450px">
            <div style="max-width: 500px" style="background-color: rgb(204, 160, 14);">
              <img src="assets/images/f1.png" alt="Image" height="100" class="mb-3; center;">
                <h2 class="text-black">Great products with <br> best deals </h2>
                <p class="text-black">The best fashion store for casual wear with cheap prices!</p>
                <a href="#" class="btn btn-warning"> View more </a>
                </div>
          </article>
        </div> -->
      </div>
    </div> <!-- container end.// -->
  </section>

  <div style="margin-top: 20px;"></div>
      <!-- Carousel -->
      <main>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-width: 1000px; max-height: 400px; margin: 0 auto">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="assets/clothes/bg4.png" class="d-block w-100">
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
        
          <div class="carousel-item">
              <img src="assets/clothes/bg5.png" class="d-block w-100">
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
      </div>

      <style>
        #carouselExampleControls img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      </style>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next"  type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button></div>
    </main>
    <div style="margin-bottom: 170px;"></div>

  <!-- ================ SECTION INTRO END.// ================ -->
  <!-- ================ SECTION PRODUCTS ================ -->
  <section class="padding-top">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">New products</h3>
    </header> 
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <span class="topbar"> <b class="badge bg-success"> Offer </b> </span>
            <img src="assets/ok/1.png">  
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">MAXX Black T-Shirt Special!</a><br>
            <small class="text-muted">Sizes: S, M, XL</small>
            <div class="price-wrap">
              <span class="price">RM45.00</span> &nbsp; <del class="price-old">RM80.00</del>
            </div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <img src="assets/ok/2.png"> 
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">MAXX T-Shirt</a><br>
            <small class="text-muted">Sizes: S, M, XL</small>
            <div class="price">RM35.00</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <img src="assets/ok/5.png">  
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Levi's Jeans</a><br>
            <small class="text-muted">Blue, White, Black</small>
            <div class="price">RM150.00</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <img src="assets/ok/6.png">  
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Men's Denim Blue Jeans</a><br>
            <small class="text-muted">Blue, White, Black</small>
            <div class="price">RM70.00-RM95.00</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <img src="assets/ok/8.png">  
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Cotton Beenies</a><br>
            <small class="text-muted">Free Size</small>
            <div class="price">RM55.00</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <img src="assets/ok/10.png">  
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Stylish Caps</a><br>
            <small class="text-muted">Red, Black, Blue</small>
            <div class="price">RM37.50</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card card-product-grid">
          <a href="#" class="img-wrap"> 
            <img src="assets/ok/12.png">  
          </a>
          <figcaption class="info-wrap border-top">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="title text-truncate">Stylish Shoes</a><br>
            <small class="text-muted">Red, Blue, Black</small>
            <div class="price">RM68.00</div> <!-- price-wrap.// -->
          </figcaption>
        </figure>
      </div> <!-- col end.// -->
        
  <!-- ================ SECTION PRODUCTS END.// ================ -->
  <!-- ================ SECTION FEATURE ================ -->
  <section class="padding-top">
  <div class="container">
    <div class="row gy-4">
      <aside class="col-lg-6">
        <article class="card-banner bg-gray h-100" style="min-height: 200px">
          <div class="p-3 p-lg-5"  style="max-width:70%">
           
  <!-- ================ SECTION FEATURE END.// ================ -->
  <!-- ================ SECTION PRODUCTS ================ -->
  <section class="padding-top">
  <!-- ================ SECTION PRODUCTS END.// ================ -->
  